<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="centrar-cont">
    <img src="/prueba_/src/assets/ruf_logo.png" alt="ruflogo" class="Logo">
  </div>


  <div class="centrar-botones">
    <button type="button" class="botones">Regístrar superusuario</button>
    <button type="button" class="botones"> Ingresar usuario </button>
  </div>
</ion-content>
